body{
    background-color: #010101;
}
.section-land{
    background:linear-gradient(rgba(0,0,0,.82), rgba(0,0,0,0.9)),url('../img/home.jpg');
    /* background-color: #010101; */
    height:100vh;
    margin-top: 0;
    padding: 0;
    background-position: top;
    background-size: cover;
}
.nav-bar{
    display:flex;
    height:10vh;
    justify-content: space-between;
    padding:0 2.4rem;
    /* background-color: #0F0F0F; */
}
.nav-wrapper{
    height: 100vh;
    position:fixed;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(256, 256, 256, .95);
    z-index: 1500;
}

.nav{
    display:flex;
    flex-direction: column;
    gap:2.4rem;
    justify-content: center;
    align-items: center;
    font-family: 'Source Serif Pro';
    font-size: 4.8rem;
    color: #010101;
    list-style-type: none;
    font-weight: 400;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);   
    max-height: 100vh;
    /* overflow: scroll; */
}

.menu-container,.nav-close{
    cursor:pointer;
}
.nav-hidden{
    display:none;
}
.nav-close{
    position: absolute;
    top:3.2rem;
    right:3.2rem;
    padding:.3rem .8rem;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding-bottom: 0;
}
.nav-close img{
    width: 4.8rem;
    position: relative;
    top:0;
    right: 0;
    box-shadow: rgba(0,0,0,0.9);
}

.home-img-container{
    height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;    
    align-items: start ;
    line-height: 1.5;
    letter-spacing: -1.4px;
    /* text-shadow:0 0 4px rgba(256, 256, 256, .3); */
    text-shadow:0 0 10px rgba(256, 256, 256, .8);
    padding:4.8rem;
}

.home-img-container span, 
.home-img-container h1{
    transform: translateY(-7rem);
    letter-spacing: 3.5rem;
}


.home-img-container span{
    font-weight: 300;
    letter-spacing: 2rem;
}

.nav-img img{
    width: 9rem;
}

@media(max-width:1000px){
    
    .home-img-container span, 
    .home-img-container h1{
        transform: translateY(-6.5rem);
        letter-spacing: 3.5rem;
    }

    .home-img-container span{
        letter-spacing: 1.5rem;
    }
}

@media(max-width:920px){
    .home-img-container span{
        letter-spacing: 1rem;
        font-size: 4rem;
    }
}

@media(max-width:750px){
    .home-img-container h1{
        letter-spacing: 2rem;
    }
    
    .home-img-container span{
        font-size: 3.2rem;
        letter-spacing: .4rem;
        
    }
    .nav{
        font-size: 3.2rem;
    }
}

@media(max-width:550px){
    .home-img-container h1{
        font-size: 6rem;
        letter-spacing: 1.2rem;
    }

    .home-img-container span{
        font-size: 3rem;
        letter-spacing: .2rem;
    }
    .home-img-container{
        padding: 1.8rem;
    }
}

@media(max-width:370px){
    .home-img-container span{
        font-size: 3.8rem;
    }

    .home-img-container h1{
        font-size: 4.2rem;
    }

    .home-img-container span{
        font-size: 3.2rem;
    }
}

@media(max-width:500px){
    .nav-close{
        top:1.8rem;
    right:1.8rem;
    }

}